extends layout

block content
  h1= title
  h3 Top Stories
  ul
    each val in topstories.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Latest
  ul
    each val in latest.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 World
  ul
    each val in world.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 US News
  ul
    each val in usnews.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Business
  ul
    each val in business.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Tech
  ul
    each val in tech.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Politics
  ul
    each val in politics.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Health
  ul
    each val in health.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Pop Culture
  ul
    each val in popculture.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Nightly news
  ul
    each val in nightlynews.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Meet the press
  ul
    each val in meetthepress.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
  h3 Video
  ul
    each val in video.results
      li
        a(href=val.canonical_url)= val.headline || val.last_published_utc
